#title {
    background-color: wheat;
    margin: 144px 169px 80px 169px;
    align-self: center;
}

#title h2 {
    width: 605px;
    margin: 0 auto;
    line-height: 47px;
}

#form {
    background-color: honeydew;
    max-width: 1600px;
    align-self: center;
}

#modalidad {
    background-color: ivory;
    margin: 0 25px 68px 100px;
}

#modalidad .flexbox {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#modalidad label.radio {
    width: 330px;
    margin: 24px 75px -8px 0;
    flex: 0 0 auto;
}

#horario {
    background-color: lavender;
    margin: 0 100px 85px 100px;
}

#horario label.radio {
    display: block;
    min-width: 735px;
    margin: 24px 0 -8px 0;
}

#button {
    margin-bottom: 39px;
    align-self: center;
}