#title {
    margin: 144px 169px 80px 169px;
    align-self: center;
}

#title h2 {
    width: 605px;
    margin: 0 auto;
    line-height: 47px;
}

#form {
    max-width: 1600px;
    align-self: center;
}

#modalidad {
    margin: 0 80px 68px 100px;
    position: relative;
}

#modalidad .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#modalidad label.radio {
    width: 330px;
    margin: 24px 20px -8px 0;
    flex: 0 0 auto;
}

#horario {
    margin: 0 100px 85px 100px;
    position: relative;
}

#horario label.radio {
    display: block;
    min-width: 735px;
    margin: 24px 0 -8px 0;
}

#button {
    margin-bottom: 39px;
    align-self: center;
}

.alert-right {
    width: 506px;
    left: 237px;
}