<div id="container">
    <div id="title">
        <h2>Elige el horario y modalidad que más te acomode</h2>
    </div>
    <form id="form">
        <div id="modalidad">
            <h3>Modalidad</h3>
            <p>(Selecciona una opción)</p>
            <div class="flexbox">
                <div *ngFor="let modalidad of modalidadesData">
                    <input class="radio" type="radio" name="modalidad" [id]="modalidad.modalidadName" [value]="modalidad.modalidadName" [(ngModel)]="formData.modalidad">
                    <label class="radio" [for]="modalidad.modalidadName">{{modalidad.modalidadName}}</label>
                </div>
            </div>
        </div>
        <div id="horario">
            <h3>Horario</h3>
            <p>(Selecciona una opción)</p>
            <div *ngFor="let horario of horariosData">
                <input class="radio" type="radio" name="horario" [id]="horario.horarioID" [value]="horario.horarioName" [(ngModel)]="formData.horario">
                <label class="radio" [for]="horario.horarioID">{{horario.horarioName}}</label>
            </div>
        </div>
    </form>
    <div id="button">
        <input class="next-btn" type="button" value="Siguiente" (click)="goTo(nextPath)">
        <input class="previous-btn" type="button" value="Volver atrás" (click)="goTo(previousPath)">
    </div>
</div>

