#title {
    margin: 144px 288px 178px 288px;
    align-self: center;
}

#title h2 {
    width: 367px;
    margin: 0 auto;
    line-height: 70px;
}

#form {
    width: 100%;
    max-width: 1600px;
    align-self: center;
}

#nombre {
    position: relative;
    margin: 0 100px 68px 100px;
}

#nombre input {
    width: 100%;
    min-width: 788px;
}

#dni, #movil, #email {
    position: relative;
}

div.flexbox {
    margin: 0 100px 240px 100px;
    display: flex;
    justify-content: space-between;
}

div.flexbox > div {
    margin-right: 54px;
    flex: 1 0 auto;
}

div.flexbox > div:last-child {
    margin-right: 0;
}

div.flexbox > div > input {
    width: 100%;
    min-width: 216px;
}

#button {
    margin-bottom: 39px;
    align-self: center;
}

#nombre .alert-below {
    width: 100%;
    min-width: 786px;
    top: 98px;
}

#dni .alert-below, #movil .alert-below, #email .alert-below {
    width: 100%;
    top: 98px;
}
