#right-part {
    background-color: honeydew;
    overflow: hidden;
    height: 100%;
}

#left-part {
    position: relative;
    background: url(../../assets/img/rama.png) no-repeat bottom #0A3868;
    float: left;
    width: 500px;
    height: 100%;
}

/* #left-bar {
    position: relative;
    background: url(../../assets/img/magister-logo.png) no-repeat 111px 77px #0A3868;
    background-size: 275px 88px;
    float: left;
    width: 500px;
    height: 100%;
} */

#step-list {
    position: absolute;
    top: 245px;
    left: 111px;
    background: url(../../assets/img/style-line.png) no-repeat 13px 25px;
}

#step-list li {
    line-height: 30px;
    margin-bottom: 36px;
    padding-left: 45px;
    /* set an image as list-style-type instead of the default one*/
    list-style-type: none;
    background: url(../../assets/img/style-circle.png) no-repeat;
}

#step-list li a:link, a:visited {
    color: #577294;
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;    
}

#step-list li a:hover {
    /* change color when hovered */
    color: #FFFFFF;
}

#step-list li a.active {
    /* change color when activated */
    color: #FFFFFF;
}

#active-circle {
    position: absolute;
    background: url(../../assets/img/active-circle.png) no-repeat;
    width: 30px;
    height: 30px;
    left: 111px;
    top: 245px;
    /* ensure that this circle covers others */
    z-index: 10;
}

#logo {
    position: relative;
    background: url(../../assets/img/magister-logo.png) no-repeat;
    background-size: 100%;
    width: 275px;
    height: 88px;
    top: 77px;
    left: 111px;
}