#title {
    margin: 144px 302px 178px 302px;
    align-self: center;
}

#title h2 {
    width: 338px;
    margin: 0 auto;
    line-height: 70px;
}

#form {
    width: 100%;
    max-width: 1600px;
    align-self: center;
}

#tarifa {
    margin: 0 100px 259px 100px;
}

#tarifa label.radio {
    display: block;
    min-width: 767px;
    margin: 24px 0 -8px 0;
}

#button {
    margin-bottom: 39px;
    align-self: center;
}
