<div id="container">
    <div id="title">
        <h2>Selecciona tu tarifa </h2>
    </div>
    <form id="form">
        <div id="tarifa">
            <h3>Tarifas</h3>
            <p>(Selecciona una opción)</p>
            <div *ngFor="let tarifa of tarifasData">
                <input class="radio" type="radio" name="tarifa" [id]="tarifa.tarifaID" [value]="tarifa.tarifaName" [(ngModel)]="formData.tarifa">
                <label class="radio" [for]="tarifa.tarifaID">Número {{tarifa.tarifaID}}: {{tarifa.tarifaName}} - {{tarifa.tarifaPrice}} euros</label>
            </div>
        </div>
    </form>
    <div id="button">
        <input class="next-btn" type="button" value="Siguiente" (click)="goTo(nextPath)">
        <input class="previous-btn" type="button" value="Volver atrás" (click)="goTo(previousPath)">
    </div>
</div>
